.wrapper {
  display: flex;
  justify-content: center;
}

.wrapperUser{
  width: 30%;
  margin-top: 20px;
}

.wrapperItemUser{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  color: darkred;
}

.user {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 80%;
  border-bottom: 1px solid silver;
}

